/*Introduction*/

/* General Styling */
	

	body{
	  font-size:100%;
	  font-family: 'Raleway', sans-serif;
	  background: lightblue;
	  color:white;
	}


	h1, h2, h3, h4, nav{
		 font-family: 'Oswald', sans-serif;
	}
	

h3{
		margin: 0 0 1% 6%;
		}

p{
	    font-size: 1em;
	    margin:1em;
		font-feature-settings: "kern";
  	 	-webkit-font-feature-settings: "kern";
  		-moz-font-feature-settings: "kern";
  		-moz-font-feature-settings: "kern=1";
  		text-rendering: optimizeLegibility;
		}

	a{
		text-decoration: none;
		color:#fff;
	}
/*End General Styling*/

/*Navigation*/

.logo{
		position:relative;
		max-width:300px;
		height:75px;
		left:10%;
		z-index: 1;
		background: url("http://lorempixel.com/500/75/animals") no-repeat;
}
		
	

header div{
		
		height:75px;
		
	}


nav div{background: orange;
		width:100%;}


nav{
	position:absolute;
	top:0;
	width: 100%;
	margin:0;
  	text-transform: uppercase;

}

#navigation ul{
	margin:0;
	padding:0;
}
#navigation li{
	display:inline-block;
	position:relative;
	left:55%;
	list-style: none;
	text-align: center;
	margin: 0 1.5%;
	padding: 1.5% 0;
	font-size: 1.2em;

}
/*End Navigation*/


/*About Page*/

	article{
		display:block;
		margin:5% auto;
	    width:60%;
	}



	article figure{
	  margin:0 5%;
	}

	 .under{

	  font-size: .8em;
	  font-style: italic;
	}
/*End About Pages*/



/*Gallery Styles*/

	.decor h2{
	  	text-align: center;

	}

	h2 span{
		border: 3px dashed #666;
		padding: 10px;	}


	.gallery{
	  display:block;
	  width:700px;
	  margin: 2% auto;
	 
	}

	.gallery h2{
		margin:5% 0;
	}


	figure { 
	  display: block; 
	  position: relative;
	  float:left;
	  overflow: hidden; 
	  width:200px;
	  height:300px;
	  padding:0;
	  margin: 1%;
	}

	figcaption { 
	  position: absolute; 
	  left:0;
	  height:100%;
	  background: rgba(215, 40, 40, 0.5); 
	  padding: 0; 
	  width:100%;

	 /*Starting Position and animation */
	  top: -100%;

	   transition: all 0.5s ease;
	 -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	}

	/* Inside text Styling  */

	 figcaption p, figure a{
	   text-align:center;
	   margin:0 auto;
	   color:#fff;
	   padding:72% 0;
	   text-decoration: none;
	 }

	 .mobile{
	 	display:none;} 

	/* Hover */

	figure:hover figcaption {
	  opacity: 1;
	  top: 0%;

	}

/*Gallery Image Specific Background positioning*/

	
/*End Gallery Pages*/



/*Extended Gallery Pages */

	.container{
		display:block;
		max-width:1000px;
		margin:0 auto;
		padding:0 20px 50px;
	}

	#sub-menu{
	  float:left;
		padding:0;
	  width:30%;
	  margin:10px 15px;
	  
	}

	.content{
	float:left;
	 padding:0;
	 margin:10px 0;
	 width:60%;
	}

	.content h1{
		margin:3% 0;
	}

/*End Extended Gallery Pages*/



/*Gallery Footer*/
	.gallery-footer div{
		height:25px;
		clear:both;
		margin:0 0 5% 0;
	}

	


	/*arrows*/


		footer img{
			width:25px;
			height:25px;
		}

		img[alt~="chevron-left"]{
			position:relative;
			left:25%;
		}

		img[alt~="grid-three-up"]{
			position:relative;
			display:block;
			float:left;
			left:50%;
		}

		img[alt~="chevron-right"]{
			position:absolute;
			right:25%;
		}

/*End Footer*/



/*Screens mobile*/

@media screen and (max-width: 480px){

/*Logo*/

	.logo{
		position:static;
		left:0;
		width:100%;
		max-width:480px;
	}

/*Navigation*/


	#navigation ul{
		margin:0;
		padding:;
	}
	#navigation li{
		display:block;
		left:0;
		list-style: none;
		text-align: center;
		margin: 0;
		padding:0;
		font-size: 1.2em;
		line-height: 1.5em;

	}

	nav div{
		height:90px;
		max-width:480px;
		margin:0;
	  	text-transform: uppercase;
	}

	nav{
		position:static;
	}

/*About me Page*/
	
	article{
		width:100%;
	}

	.about-me figure{
		max-width:480px;
		width:100%;
		clear:left;
	}
	
/*portfolio pages*/
	.container{
		margin: 0 5%;
	}
	
	img{
		width: 100%;}

	#sub-menu{
		width:90%;
	}

	.content{
		width: 90%;
		float:none;
	}

	/*Gallery*/
	.gallery{
		width: 100%;
	}

 	.gallery figure{
		margin: 0;
		float: left;
		width:100%;
		height:150px;
		overflow:hidden;
	}

	.gallery img{
		width:100%;
	}

	figcaption{
		display:none;
	}


}
/*End Small Screens Media Query*/


/*Tablets and smaller screens*/

@media screen and (min-width:481px) and (max-width: 950px){

	.logo{
			
			max-width:200px;
			height:75px;
			left:0;
			z-index: 1;
	}

/*Navigation*/


	#navigation li{
		display:inline-block;
		position:relative;
		left:42%;
	}

	nav div{
		background: purple;
			width:100%;
	}

	nav{
		position:absolute;
		top:0;
		width: 100%;
		margin:0;
	  	text-transform: uppercase;
	}

    .container img{
	  	width:100%;
	}

    .content{
  		max-width: 767px;
	  	width:100%;
	  	float:left;
    }

  	#sub-menu{
	  	float:none;
	  	max-width: 767px;
	  	width:100%;
   	}
}

/*End Middle Screen*/


/*Large Screens and Max*/

@media screen and (min-width:951px){
 
	.container{
		display:block;
		max-width:1024px;
		margin:0 auto;
		padding:0 20px 50px;
	}

	#sub-menu{
		float:left;
		padding:0;
		width:30%;
		margin:100px 15px; 
	}

	.content{
		float:left;
		 padding:0;
		 margin:10px 0;
		 width:60%;
	}

	.content img{
		width:100%;
	}
}
	
/*End Large Screens*/





