#wrapper{
	width:100%;
}
	

/*Introduction*/

/* General Styling */
html{
   text-rendering: optimizeLegibility;
}

body{
  font-size:100%;
  font-family: 'Raleway', sans-serif;
  background: lightblue;
  color:white;

}

h1, h2, h3, nav{
	 font-family: 'Oswald', sans-serif;
}
a{
	text-decoration: none;
	color:#fff;
}

/*About Page*/

article{
  width:90%;
  margin: 0 5% ;
}

article figure{
  margin:0 5%;
}

 .under{

  font-size: .8em;
  font-style: italic;
}

/*Extended Gallery Pages */

.container{
	max-width:1000px;
	margin:0 auto;
	position:relative;
	padding:0 20px 100px;
}

#sub-menu{
  float:left;
	padding:0;
  width:300px;
  margin:100px 15px;
  
}

.content{
float:left;
 padding:0;
 margin:10px 0;
 width:600px;

}




/*Extended Gallery Pages Footer*/
.gallery-footer div{
	height:50px;
	background: green;
}
.gallery-footer{
	clear:both;
background:orange;
}

/*arrows*/
footer img{
	width:50px;
	height:50px;
	background: orange;
	/*position:absolute;*/
}

img[alt~="chevron-left"]{
	position:relative;
	left:25%;
}


img[alt~="grid-three-up"]{
	position:relative;
	display:block;
	margin:0 auto;
	bottom:100%;
	/*
	left:500px;*/
}

img[alt~="chevron-right"]{
	position:absolute;
	right:25%;

}


h3{
margin: 0 0 1% 6%;
}

p{
  margin:1em;
}


/*Navigation*/


#navigation ul{
	margin:0;
	padding:0;
}
#navigation li{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 1.5% 0;
	font-size: 1.3em;

}




nav{
	width: 100%;
	margin:2% 0;
  text-transform: uppercase;

}

/*Screens mobile*/


@media screen and (max-width: 450px){
	
/*portfolio pages*/
	.container{
	margin: 0 5%;
	}
	img{
	width: 100%;}

	#sub-menu{
	width:90%;


	}
	.content{
		width: 90%;
		float:none;
	
	}


	}

/* Screens 1000px+ */

@media  screen and (min-width = 1000px){

	nav{
	width: 100%;
	height:10%;
	position:fixed;
	bottom:0;

}

	li{
		list-style: none;
		display:inline;
		margin:0 10%;
		font-size: 1.5em;
		
}
}
