#wrapper{
	width:100%;
}

#navigation{
	background: blue;

		
}		

/*Introduction*/

/* General Styling */
html{
  font-family: 'Amatic SC', cursive;
   text-rendering: optimizeLegibility;
}

body{
  font-size:100%;
  background: lightblue;
  color:white;
}
a{
	text-decoration: none;
	color:#fff;
}


/* Word Styling */

h1{
  margin:0;
}

.container{

  
  position: relative;
  width: 100%;
  margin: 25% auto;
}

.hello-container{
  position:relative;
  width:100%;
}

.hello{
  font-size: 4em;
  letter-spacing:-.04em;
  text-transform: uppercase;
  text-align:center;
  
}
  

.my-name-container{
  position:relative;
  width:100%;
}

.my-name{
  text-align:center;
  margin:0 0 1% 0;
}

.dash{
  text-align:center;
  line-height:.75em;
  margin: 1% 0;
}

  .kaelynn-container{
  position:relative;
  width:100%;
}

.kaelynn{
  text-align:center;
  font-size: 4em;
  margin:-2% 0 0 0;
  padding:0;
  letter-spacing:-.01em; 

}

  .crume-container{
  position:relative;
  width:100%;
}

.crume{
  text-align:center;
  font-size: 4em;
  line-height:.8em;
  margin:0 0 1% 0;
  letter-spacing:.14em; 
}

.and-container{
   position:relative;
  width:100%;
}

.and{ 
  margin: 1% 0 0 0;
  text-align:center;
}

.web-graphic-container{
   position:relative;
  margin:1em auto;
   width:100%;
}


.web p{
  margin: .75% 0;
  text-align:center;
  letter-spacing: 0.18em;
  font-size: 1.5em;  
   
    line-height: 1;
}
  
.web{ 
  text-align:center;
}


.graphic{ 
  text-align:center;
}

/*Gallery*/
#Container .mix{
	display: none;
}

/*Navigation*/

#navigation ul{
	margin:0;
	padding:0;
}
#navigation li{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 2% 0;
	background: blue;
	font-size: 1.4em;

}

#navigation li:nth-child(1n){
	background: cornflowerblue;
}

#navigation li:nth-child(2n){
	background: red;
}

#navigation li:nth-child(3n){
	background: yellow;
}


nav{
	width: 100%;
	height:15%;
	float:top;
	margin:0;

	background: cornflowerblue;
}


/* Screens 1000px+ */

@media  screen and (min-width=1000px){

	nav{
	width: 100%;
	height:10%;
	position:fixed;
	bottom:0;


	background: cornflowerblue;
}

	li{
		list-style: none;
		display:inline;
		margin:0 10%;
		font-size: 1.5em;
		
		background: tomato;
}
}
